<?xml version='1.0' encoding='utf-8'?>
<widget id="com.distdans.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>distdans</name>
    <description>
        dist/dans generates music based on proximity to the people around you.
    </description>
    <author email="hello@distdans.com" href="http://distdans.com">
        Jiashan Wu / Jason Sigal
    </author>
    <icon src="www/icons/icon.png" />
    <content src="index.html" />
    <xcontent src="http://192.168.43.131:4042" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
