.ui-content {
	padding: 0;
	margin: 0;
}

a.play-bttn.ui-btn {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

a.info-bttn.ui-btn {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	float: right;
}

a.pocket-bttn.ui-btn {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	float: left;
}


#pocket-bttn-home {
	text-align: center;
	display:block;
}

#play-bttn-home {
	text-align: center;
	display:block;
}

#info-bttn-home {
	text-align: center;
	display:block;
}

#p5Container, #p5Container canvas {
	display: block;
	margin: 0;
	padding: 0;
	text-shadow: none;
	width: 100% !important;
	height: 100% !important;
}

.footer {
	padding-bottom: 30px;
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent !important;
	width: 100%;
	height: 60px;
	z-index: 10;
	border-top: none;
}

#pocket .footer {
	padding-bottom: 60px;
}

#info .footer {
	padding-bottom: 60px;
}

#info {
	background-color: black;
}

.footer td a {
	display: inline-block;
}

.footer td a svg {
	width: 45px;
	height: 45px;
}

.footer a svg {
	width: 105px;
	height: 105px;
}


.footer td a svg path, .footer td a svg polygon {
	/* TO CHANGE SVG COLOR, ** USE "fill" **, NOT "background-color", NOT "color" */
	fill: #ffffff;
}
/*.footer td a:hover svg path, .footer td a:hover svg polygon {
	fill: #ff00ff;
}*/

/*.info-bttn {
	text-align: right;
	float: right;
}*/

.play-bttn {
	text-align: center;
	margin: auto 0px;
}

a.anchor-link.ui-btn{
	background: none;
	border: none;
}

#pocket {
	background-color:#e4e4e4;
}

#back-to-main {

	float:right;
	margin-right:10px;
	margin-bottom: 30px;
}

#info-to-main {

	margin-left:10px;
	margin-bottom: 30px;
}

