@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf')  format('truetype'), url('../fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf')  format('truetype'), url('../fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf')  format('truetype'), url('../fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ui-content {
	padding: 0;
	margin: 0;
}

a.play-bttn.ui-btn {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

a.info-bttn.ui-btn {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	float: right;
}

a.pocket-bttn.ui-btn {
	display: inline-block;
	width: 100%;
	margin: 0px auto;
	float: left;
}

p {
	font-size: 14px;
}

h1, h2 {
	text-shadow: none;
	font-family: 'GothamBold';
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 14px;
}

#beacon li {
	margin: 4px 5px;
	border-radius: 4px;
	box-shadow: 2px 4px 12px -12px #000;
}

.pocket-headers {
	position: relative;
	height:70px;
	left:20px;
	top: 50px;
}

#pocket-bttn-home {
	text-align: center;
	display:block;
}

#pocket .ui-header {
	height:40px;
	color: #a3a3a3;
	background-color: transparent !important;
	padding-top: 40px;
	padding-left: 15px;
	border-bottom: none;
}

.profile-middle {
	width: 65%;
	display: inline-block;
}

.profile-dist-time {
	/*padding-left: 63px;*/
}

.profile-play {
	display: inline-block;
	vertical-align:top;
	padding-top:10px;
}

.profile-play svg {
	width: 45px;
}

.profile-img-edit svg {
	width: 45px;
}

#play-bttn-home {
	text-align: center;
	display:block;
}

#info-bttn-home {
	text-align: center;
	display:block;
}

#p5Container, #p5Container canvas {
	display: block;
	margin: 0;
	padding: 0;
	text-shadow: none;
	width: 100% !important;
	height: 100% !important;
}

.footer {
	padding-bottom: 30px;
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent !important;
	width: 100%;
	height: 60px;
	z-index: 10;
	border-top: none;
}

.header {
	/*padding-bottom: 30px;*/
	position: fixed;
	display: block;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent !important;
	width: 100%;
	height: 60px;
	z-index: 10;
	border-top: none;
}

#left-count {
	padding-left: 20px;
	margin-right: 6px;
}

.left-main {
	display: inline;
}

#right-name {
	text-align: right;
	padding-right: 20px;
}

#pocket .footer {
	padding-bottom: 60px;
}

#info .footer {
	padding-bottom: 60px;
}

#info {
	background-color:black;
}

.footer td a {
	display: inline-block;
}

.footer td a svg {
	width: 45px;
	height: 45px;
}

.footer a svg {
	width: 100%;
	margin-top: -20px;
}


.footer td a svg path, .footer td a svg polygon {
	/* TO CHANGE SVG COLOR, ** USE "fill" **, NOT "background-color", NOT "color" */
	fill: #ffffff;
}
/*.footer td a:hover svg path, .footer td a:hover svg polygon {
	fill: #ff00ff;
}*/

/*.info-bttn {
	text-align: right;
	float: right;
}*/

.play-bttn {
	text-align: center;
	margin: auto 0px;
}

a.anchor-link.ui-btn{
	background: none;
	border: none;
}

#pocket {
	background-color:#e4e4e4;
}

#pocket li {
	padding: 4%;
}

#pocket .profile-img{
	width: 55px;
	height: 55px;
	/*background-color: blue;*/
	border-radius: 50%;
	display: inline-block;
	margin: 0 8px 0 0;
	vertical-align: top;
	float: left;
}

#pocket .profile-img img {
	width: 55px;
	height: 55px;
}

#pocket .profile-id {
	/*min-height: 40px;*/
}
#pocket .profile-id h1 {
	margin-top: 5px;
	line-height: 1.5em;
	text-overflow: ellipsis;
}
#pocket .mo-info {
	float: right;
	text-align: right;
}
#pocket .mo-info p {
	font-size: 14px;
}

#back-to-main {
	/* float:right; */
	display:block;
	margin-right:20px;
	margin-left:20px;
	/* margin-bottom: 0px; */
	width:90%;
	height:100px;
	border-radius: 30px;
	background-color: transparent;
	box-shadow: -10px -12px 12px -12px rgba(0,0,0,.6);
}

#pocket-to-main {
	float:right; 
	display:block;
	margin-right:20px;
	margin-left:20px;
	/* margin-bottom: 0px; */
	width:100px;
	height:100px;
	border-radius: 30px;
	background-color: black;
	box-shadow: -10px -12px 12px -12px rgba(0,0,0,.6);
}

#back-to-main svg path:first-child {
	-webkit-filter: drop-shadow( 0 2px 3px rgba(0,0,0,.2) );
    		filter: drop-shadow( 0 2px 3px rgba(0,0,0,.2) );
}

#info-to-main {

	margin-left:10px;
	margin-bottom: 30px;
}

#info h1 {
	color: #c2cece;
	text-shadow: none;
	display: block;
	/*padding-left: 30px;*/
}

#info-beacon {
	padding: 4% 4% 4% 4%;
	margin:50px 10px;
	border-radius: 3%;
	border: none;
	box-shadow: 2px 4px 12px -12px #000;
	background-color:#4d4d4d;
	min-height: 480px;
}

#info .profile-img{
	width: 175px;
	height: 175px;
	/*background-color: blue;*/
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-top:0px;
	margin-bottom:20px;
	vertical-align: top;
}

#info-pg-cover img {
	width: 175px;
	height: 175px;
}

#info-beacon h1 {
	margin-bottom: 30px;
}

#info .profile-id {
/*	margin-bottom: 30px;
*/}

#info .profile-info {
	padding-top: 15px;
}

.info-header {
	position: relative;
	height:30px;
	/*left:20px;*/
	/*top: 50px;*/
	margin-bottom: 10px;
	text-align:center;
	text-shadow:none;
	color:#c2cece;
}

#info .profile-play {
	display: block;
	/*vertical-align:top;
	padding-top:45px;
	float:right;

	z-index: 10;*/
	/* margin-right: 10px; */
	float:right;
}

#info .profile-img-edit {
	display: block;
	vertical-align:top;
	/* padding-top:45px; */
	float:right;
	z-index: 10;
	/* margin-right: 10px; */
	margin-top:-130px;
}

#info-pg-info {
	color: white;
	text-shadow: none;
}

.info-left {
	width: 80%;
	float: left;
}

.info-right {
	width: 20%;
	float: right;
}

#add-img {
	/*margin-top:-340px;*/
}

#add-name {
	/*margin-top:-220px;*/
}

#add-info {
	/*margin-top:-150px;*/
}

#add-play {
	/*margin-top:-85px;*/
}



